<div id="campaign-card">
    <h2>
        <%= campaign.name %>
    </h2>
    <p>
        Description <%= campaign.description %>
    </p>
    <p>
        <% campaign.tags.forEach(tag=> { %>
            <%= tag %>
                <% }) %>
    </p>
    <h3>
        Player Queue
    </h3>
    <%- include('./remove-candidate') %>
    <ul id="player-queue">
        <% campaign.playerQueue.forEach(player=> { %>
            <li>
                <%= player.username %>
                    <%= player.id %>
                        <% if(userId.toString()===player.id.toString()) { %>
                            <script>
                                const removeButtonQueue = createRemoveButton('<%= campaign.id %>', '<%= player.id %>')
                                document.currentScript.parentElement.appendChild(removeButtonQueue)
                            </script>
                            <% } %>
            </li>
            <% }) %>
    </ul>
    <ul>
        <% campaign.activePlayers.forEach(player=> { %>
            <li>
                <%= player.slug %>
                    <%= player.email %>
                        <%= player.id %>
                            <%= player.username %>
                                <script>
                                    const removeButtonActive = createRemoveButton(<%= campaign.id %>, <%= player.id %>)
                                    document.currentScript.parentElement.appendChild(removeButtonActive)
                                </script>
            </li>
            <% }) %>
    </ul>
    <button id="join-campaign-button">
        Join Campaign
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const button = document.getElementById('join-campaign-button')
                button.addEventListener('click', async (e) => {
                    e.preventDefault()
                    e.stopPropagation()

                    try {
                        const result = await fetch('/api/v1/campaign/<%= campaign.id %>/candidate', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })

                        if (result.ok) {
                            const response = await result.json()
                            const playerQueue = document.getElementById('player-queue')
                            const newPlayer = document.createElement('li')
                            newPlayer.textContent = response.username

                            const removeButton = createRemoveButton('<%= campaign.id %>',  response.id )
                            newPlayer.appendChild(removeButton)
                            
                            playerQueue.appendChild(newPlayer)
                        } else {
                            console.error('Errore nella richiesta:', await result.text())
                        }
                    } catch (error) {
                        console.error('Errore nella richiesta:', error)
                    }
                })
            })
        </script>

    </button>
</div>