<div id="campaign-card">
    <script type="module">
        import { createRemoveButton } from '/js/createRemoveButton.js';
        import { createAcceptPlayerToCampaignButton } from '/js/createAcceptPlayerToCampaignButton.js';
        import { createJoinCampaignButton } from '/js/createJoinCampaignButton.js';
        window.createJoinCampaignButton = createJoinCampaignButton;
        window.createAcceptPlayerToCampaignButton = createAcceptPlayerToCampaignButton;
        window.createRemoveButton = createRemoveButton;
    </script>
    <h2>
        <%= campaign.name %>
    </h2>
    <p>
        Description <%= campaign.description %>
    </p>
    <p>
        <% campaign.tags.forEach(tag=> { %>
            <%= tag %>
                <% }) %>
    </p>
    <h3>
        Player Queue
    </h3>
    <ul id="player-queue">
        <% campaign.playerQueue.forEach(player=> { %>
            <li id="player-queue-item-<%=player.id%>">
                <div class="button-container-<%=player.id%>">
                    <%= player.username %> (<%= player.email %>)
                </div>
            </li>
            <% }) %>
    </ul>
    <h3>
        Active Players
    </h3>
    <ul>
        <% campaign.activePlayers.forEach(player=> { %>
            <li>
                <%= player.username %> (<%= player.email %>)
            </li>
            <% }) %>
    </ul>
    <div class="join-campaign-button-container">
    </div>

    <script type="module">
        document.addEventListener('DOMContentLoaded', () => {
            console.log('DOM fully loaded and parsed');
            // Player Queue Buttons
            <% campaign.playerQueue.forEach(player => { %>
                <% if (userId.toString() === player.id.toString() || campaign.owner.toString() === userId.toString()) { %>
                    const container<%=player.id %> = document.querySelector('.button-container-<%=player.id%>');
                    const removeButtonQueue<%=player.id %> = createRemoveButton('<%=campaign.id%>', '<%=player.id%>');
                    const acceptButton<%=player.id %> = createAcceptPlayerToCampaignButton('<%=campaign.id%>', '<%=player.id%>');
                    container<%=player.id %>.appendChild(acceptButton<%=player.id %>);
                    container<%=player.id %>.appendChild(removeButtonQueue<%=player.id %>);
                <% } %>
                <%if (campaign.owner.toString() === userId.toString()) {%>
                    console.log('Owner is <%=userId%>');
                    const acceptButton<%=player.id %> = createAcceptPlayerToCampaignButton('<%=campaign.id%>', '<%=player.id%>');
                    container<%=player.id %>.appendChild(acceptButton<%=player.id %>);
                <%}%>
            <% }) %>

            // Active Players Buttons
            <% campaign.activePlayers.forEach(player => { %>
                const activeContainer<%=player.id %> = document.querySelector('.active-button-container-<%=player.id%>');
                        const removeButtonActive<%=player.id %> = createRemoveButton('<%=campaign.id%>', '<%=player.id%>');
                        activeContainer<%=player.id %>.appendChild(removeButtonActive<%=player.id %>);
            <% }) %>

            // Join Campaign Button
            
            <%if (!campaign.playerQueue.some(player => player.id.toString() === userId.toString()) && !campaign.activePlayers.some(player => player.id.toString() === userId.toString())) {%>
                const joinButtonContainer = document.querySelector('.join-campaign-button-container');
                const joinButton = createJoinCampaignButton('<%=campaign.id%>');
                console.log('Join Button', joinButton);
                console.log('Join Button Container', joinButtonContainer);
                joinButtonContainer.appendChild(joinButton);
            <%}%>
        });
    </script>

</div>


<!-- Scripts at bottom -->