<li id="campaign-card"
    class="flex flex-col justify-center items-center gap-4 w-full mx-auto p-4 border border-gray-300 rounded-lg">
    <form action="/campaign/<%= campaign.id %>" method="get"
        class="flex justify-center items-center gap-4 w-full flex-row">
        <input type="hidden" name="campaignId" value="<%= campaign.id %>">
        <div class="w-fit h-fit">
            <img class="object-cover" src="/images/dragon.png" alt="dragon">
        </div>
        <div class="w-3/4">
            <h2 class="text-2xl p-4">
                <%= campaign.title %>
            </h2>
            <h3>
                Game: <%= campaign.game %>
            </h3>
            <p>
                Description <%= campaign.description %>
            </p>
            <div class="w-full flex justify-between items-right gap-4 flex-row">
                <button type="submit" class="m-4 mr-0 ml-auto">View</button>
            </div>
        </div>
    </form>
</li>