<li id="campaign-card">
    <form action="/campaign/<%= campaign.id %>" method="get">
        <input type="hidden" name="campaignId" value="<%= campaign.id %>">
        <h2>
            <%= campaign.name %>
        </h2>
        <p>
            Description <%= campaign.description %>
        </p>
        <p>
            <% campaign.tags.forEach(tag=> { %>
                <%= tag %>
                    <% }) %>
        </p>
        <input type="submit" value="See Campaign">
    </form>
</li>