<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
    </head>

    <%- include ('../partials/header') %>
<body>
    <h1>
        <%= campaign.title %>
    </h1>
    <p>
        <%= campaign.description %>
    </p>

    <%- include('../partials/campaign-card-large',{campaign:campaign,userId:userId}) %>

</body>

<footer>

</footer>

</html>